@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 38%; /* #616161 */
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 38%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 38%;
 
    --primary: 20 54% 85%;  /* #F9D5C5 */
    --primary-foreground: 0 0% 38%;
 
    --secondary: 0 0% 38%;  /* #616161 */
    --secondary-foreground: 0 0% 98%;
 
    --muted: 20 54% 95%;
    --muted-foreground: 0 0% 46%;
 
    --accent: 20 54% 85%;
    --accent-foreground: 0 0% 38%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 38%;
    --input: 0 0% 38%;
    --ring: 20 54% 85%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 38%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 38%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 38%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 14 100% 85%;
    --primary-foreground: 0 0% 38%;
 
    --secondary: 0 0% 46%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 46%;
    --muted-foreground: 0 0% 66%;
 
    --accent: 14 100% 85%;
    --accent-foreground: 0 0% 38%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 46%;
    --input: 0 0% 46%;
    --ring: 14 100% 85%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
  p, span, a, button {
    @apply font-sans;
  }
}

